* {
    margin: 0;
    padding: 0;
}

body html {
    height: auto;
    width: auto;
}


#mainDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 171, 237);
}

#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#nav {

    padding: 5px 0;
    width: 100%;
    height: 8.5vh;
    background-color: rgb(142, 69, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16%;
    font-size: 2vw;

}

.elem {
    display: flex;
    cursor: default;
}

.elem h4 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-right: 20px;

}

.box {
    padding-top: px;
    height: 1em;
    width: 1.5em;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.elem .box p {
    font-size: 1 em;
    font-family: fantasy;
    font-weight: 200;
    color: rgb(64, 64, 64);

}

#cName{
    padding: 2vw;
    cursor: default;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 4vw;
   font-weight: 300;
}

button{
    border: none;
    background-color: white;
    border: 0.1px solid black;
    border-radius: 35px;
    height: 5vw;
    width: 18vw;
    margin: 1.5vw;
    cursor: pointer;
}

.options h5{
    font-size: 3vw ;
    font-weight: 650;
}

.options #btn1{
    color: red;
}
.options #btn2{
    color: yellow;
}
.options #btn3{
    color: orange;
}

.options #btn4{
    color: blue;
}


@media (max-width:850px) {
    #container {
        height: 60vh;
        width: 80vw;

    }

    #nav {
        font-size: 2vh;
    }

    .box {
        height: 1.5em;
        width: 2em;
    }

    .elem .box p {
        font-size: 1.2 em;

    }

    #cName{
        margin-top: 25px;
        font-size: 7vw;
        font-weight: 800;
    }

    button{
        border-radius: 35px;
        height: 15vw;
        width: 28vw;
        margin: 2vw;
        cursor: default;
    }

    .options h5{
        font-size: 5vw ;
        font-weight: 650;
    }
    
}